article.post h1 {
    margin: 40px 0;
}



article.excerpt {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2.5rem;
}

article.excerpt h2 a {
    text-decoration: none;
    color: inherit;
}

article.excerpt h2 a:hover {
    text-decoration: underline;
    color: inherit;
}

article .date {
    display: block;
    font-size: 1.5rem;
    color: grey;
}
