{% extends 'layout.html' %}


{% block nav %}
<div class="u-pull-right">
    <a href="/archive/1">Archive</a>
    {% for item in collections.nav %}
    <a href="/{{ item.path }}">{{ item.title }}</a>
    {% endfor %}
</div>
{% endblock %}


{% block content %}
<div class="row">
    <h1 class="blog-name">
        {{ title }}
        <span class="subtitle">{{ subtitle }}</span>
    </h1>
</div>
<div class="row">
    <div class="nine columns">
        {% for post in collections.posts %}
        {% include "./partials/excerpt.html" %}
        {% endfor %}
        {{ contents|safe }}
    </div>
    <div class="three columns sidebar">
        <div class="container">
            <h6>sidebar stuff</h6>
        </div>
    </div>
</div>
{% endblock %}
